# Image tag: latest, 1, 1.0, or exact 1.0.1
APP_VERSION=1.0.1
APP_PORT=8000
APP_ORIGIN=http://localhost:8000
APP_ADMIN_EMAIL=admin@example.com
APP_ADMIN_PASSWORD_FILE=./secrets/admin_password.txt
APP_MEMBER_STATE=Germany
APP_COUNTRY_CODE=DE
